<app-header
  [personalportfolio] = "personalportfolio">
</app-header>

<div class="wrapper wrapper-with-leftnav">
  <app-leftnav
    [personalportfolio] = "personalportfolio"
    [linkactive] = "linkactive">
  </app-leftnav>
  <div class="container-fluid module-container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="module-header-title">
          Request eligibility assessment and limit computation
        </h1>
      </div>
    </div>
    <br>
    <div class="placed-info">
      Assessment Request placed successfully. Assessment id <strong>638</strong> is assigned to the request
    </div>
  </div>
</div>