<div id="myModal" class="modal fade in" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
              <div class="modal-header-title">
                Approve Confirmation
              </div>      
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <span class="copytext">Do you want to approve this change?</span>
                  </div><br><br>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">Approve</button>
        <button type="button" class="btn btn-secondary" (click)="close()" >Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in"></div>