
<app-header [configurations]="configurations">
</app-header>
<div class="wrapper wrapper-with-leftnav">
  <app-leftnav [configurations]="configurations" [linkactive]="linkactive">
  </app-leftnav>
  <div class="container-fluid module-container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="module-header-title">
          Limit & Eligibility Rules
        </h1>
      </div>
    </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="model-label">Rule Set Name
              <span>*</span>
            </label>
            <select class="form-control" tabindex="2006" required [(ngModel)]='rulesSelected' (ngModelChange)='onRulesSelected($event)'>
              <option [ngValue]="rulesSelected" [selected]="rulesSelected" >{{rulesSelected}}</option>
              <option class='rule' *ngFor='let rule of rules' [ngValue]="rule">{{rule.name}}</option>
            </select>
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <div class="col-md-3 form-group">
          <div class="form-group">
            <label class="model-label">Mode</label>
            <select class="form-control" tabindex="2006" required [(ngModel)]='modesSelected' >
              <option class='mode' *ngFor='let mode of modes' [value]="mode" [selected]="mode==modeSelected">{{mode}}</option>
             </select>
        <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <div class="col-md-6 form-group">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="model-label">Description</label>
          <textarea name="descriptionN" #textarea class="form-control"  readonly [(ngModel)]="description" ></textarea>
        </div>
  
        <div class="col-md-6 form-group btn-align">
          <div class="pull-right">
            <button type="button" [disabled]="isButtonDisable" class="btn btn-primary small" (click)=deleteRuleSet()>Delete Rule Set</button>
          </div>
          <div class="pull-right">
            <button type="button" [disabled]="isButtonDisable || (rowData && !rowData.length>0)" class="btn btn-primary small" (click)=executeRuleSet()>Execute Rule Set</button>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-primary small" data-dismiss="modal"  (click)=addruleset()>Add Rule Set</button>
          </div>
        </div>
      </div>  
    <div class="row">
      <div class="col-md-12">
        <div class="search-result-text desc">
          <div class="pull-right">
            <button type="button" class="btn btn-primary small" (click)=addRuleStep() [disabled]="isButtonDisable">Add Rule Step</button>
          </div>
          {{recordSize}} Records Found
        </div>
      </div>
    </div>
    <div class="table-responsive table-striped module-table">
      <div>
        <ag-grid-angular style="width: auto; height: 100vh!important;" class="ag-fresh" 
          [enableSorting]="true" 
          [enableFilter]="true"
          [floatingFilter]="true" 
          [rowData]="rowData" 
          [rowHeight]="40"
          [columnDefs]="columnDefs" 
          [suppressMenuHide]="true"
          [enableColResize]="true" 
          [suppressRowClickSelection]="true" 
          [context]="context" 
          [frameworkComponents]="frameworkComponents"
          (columnResized)="onColumnResized($event)"
          [overlayLoadingTemplate]="overlayLoadingTemplate"
          [overlayNoRowsTemplate]="overlayNoRowsTemplate"
          [noRowsOverlayComponent]="noRowsOverlayComponent"
          [loadingOverlayComponentParams]="loadingOverlayComponentParams"
          [suppressLoadingOverlay]="true">
        </ag-grid-angular>  
         <!--<ag-grid-angular
          #agGrid
          style="width: 100%; height: 100%;"
          id="myGrid"
          [rowData]="rowData"
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [enableSorting]="true"
          [enableFilter]="true"
          [enableColResize]="true"
          (columnResized)="onColumnResized($event)"
          (gridReady)="onGridReady($event)"
          ></ag-grid-angular>-->
      </div>
    </div>



  </div>
</div>