<div class="dropdown">
  <div >
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <i class="fa fa-ellipsis-v modal-title" aria-hidden="true"></i>
    </a>

    <ul class="dropdown-menu" id="ellipsesdrop">
        <li><a href="" data-toggle="modal" (click)=" editAction()">Edit</a></li>
        <li><a href="" data-toggle="modal" (click)="deleteAction()">Delete</a></li>
        <li><a  href="" data-toggle="modal" (click)="executeAction()">Execute</a></li>
    </ul>
  </div>        
</div>
