<app-header
  [dashboardExpert] = "dashboardExpert">
</app-header>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
      <div class="row">
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Status of Scheduled Assessments</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row search-result-text desc strip">
                    <div class="col-md-12 navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                          <li><a>Day Before</a></li>
                          <li><a>Yesterday</a></li>
                          <li class="active"><a>Today</a></li>
                        </ul>
                      </div>
                </div>
                <table class="table table-striped module-table">
      <thead>
        <tr>
          <th><h4>Assessment ID</h4></th>
          <th><h4>Run Date</h4></th>
          <th><h4>Portfolio</h4></th>
          <th><h4>ISIN(s)</h4></th>
          <th><h4>Assessment Type</h4></th>
          <th><h4>Results</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>745</td>
          <td>11/05/2018</td>
          <td>CBPP3</td>
          <td>XS1750842822</td>
          <td>BOTH</td>
          <td>OK</td>
        </tr>
        <tr>
          <td>746</td>
          <td>11/05/2018</td>
          <td>CBPP3</td>
          <td>XS1800643543</td>
          <td>BOTH</td>
          <td>OK</td>
        </tr>
        <tr>
          <td>747</td>
          <td>11/05/2018</td>
          <td>ABSPP</td>
          <td>DE000CA08SR0</td>
          <td>LIMITS</td>
          <td>NOK</td>
        </tr>
        <tr>
          <td>748</td>
          <td>11/05/2018</td>
          <td>ABSPP</td>
          <td>FR000PF08SR0</td>
          <td>Eligibility</td>
          <td>OK</td>
        </tr>
      </tbody>
    </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Notifications</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="notify-text"><span>ID-727:</span>Approval for edited data is required</div>
              <div class="notify-text"><span>ID-734:</span>Rule execution failed due to insufficient data for assessment</div>
              <div class="notify-text"><span>ID-798:</span>New Assessment request received from Frank Schmidt</div>
              <div class="notify-text"><span>ID-799:</span>New Assessment request received from Frank Schmidt</div>
              <div class="notify-text"><span>ID-800:</span>New Assessment request received from Frank Schmidt</div>
              <div class="notify-text"><span>ID-801:</span>New Assessment request received from Frank Schmidt</div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="row search-result-text desc">
                <div class="col-md-12 no-padding text-center">
                  <span class="text-brand-01">&lt;</span>
                  <span class="text-01">1/3</span>
                  <span class="text-brand-01">&gt;</span>
                </div>
              </div>
            </div>
            <!-- /.box-footer -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
